@model IEnumerable<CommentModel>

<h2>Comments</h2>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-2">@item.UserIdentifier</div>
            <div class="col-sm-5">@Html.Raw(item.Comment)</div>
        </div>
    }
</div>