@using Sitecore.Mvc.Analytics.Extensions
@inherits WebViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="shortcut icon" href="http://www.sugcon.eu/wp-content/uploads/2016/02/cropped-sugcon2016-siteicon.png" type="image/x-icon" />
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="\css\bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="\css\main.css" />
    <link rel="stylesheet" type="text/css" href="\css\custom.css" />

    <style type="text/css" title="dynamic-css" class="options-output"></style>

    <!-- javascript -->    
    <script type='text/javascript' src='/Scripts/jquery-migrate.min.js'></script>
    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    <body class="home page page-id-70 page-template page-template-homepage page-template-homepage-php wpb-js-composer js-comp-ver-4.11.1 vc_responsive">
        <div id="page" class="hfeed site">
            <header id="masthead" class="site-header header">
                <div id="header-container">
                    <div id="navigation" class="container">
                        <div class="row">
                            <div "class="col-sm-3">
                                <div class="logo-wrapper">
                                    <a class="navbar-brand" href="/">
                                        <img src="\images\sugcon-europe-2016-logo.png" alt="" class="enter-logo img-responsive">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-7 woo-menu-item-add">
                                <div id="main-menu" class="hidden-xs">
                                    <ul id="menu-main-menu" class="nav">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-70 current_page_item active has-menu-child"><a href="/">Home</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children has-menu-child">
                                            <a href="http://www.sugcon.eu/info/">Info</a>
                                            <ul role="menu" class="sub-menu">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children has-menu-child">
                                                    <a href="http://www.sugcon.eu/registration/">Registration</a>
                                                    <ul role="menu" class="sub-menu">
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="http://www.sugcon.eu/registration/registration-problems/">Registration problems?</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="http://www.sugcon.eu/info/testimonials/">Testimonials</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="http://www.sugcon.eu/info/justification-letter/">Justification Letter</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="http://www.sugcon.eu/community-awards/">Community Awards</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="http://www.sugcon.eu/info/sugcon-2015-photos/">SUGCON 2015 PHOTOS</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="/speakers/">Speakers</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children has-menu-child">
                                            <a href="/schedule/">Schedule</a>
                                            <ul role="menu" class="sub-menu">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="/sessions/">Sessions</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="/all comments?status=approved">All comments</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page has-menu-child">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <a href="/Logout">Logout</a>
                                            }
                                            else
                                            {
                                                <a href="/Login">Login</a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <form action="/Search">
                                    <div class="input-group input-group-sm search">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">Go!</button>
                                        </span>
                                        <input type="text" name="q" class="form-control" placeholder="Search for ..." id="searchTerm">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section id="main" class="clearfix">
                <div class="container">
                    <div id="content" class="site-content" role="main">                                                
                            <div class="homepage row">
                                <div class="col-sm-12">
                                    <div class="timer">
                                        <div id="countdown-timer"><div class="countdown-section"><span class="countdown-amount first-item countdown-days">22 </span><span class="countdown-period">DAYS</span></div><div class="countdown-section"><span class="countdown-amount countdown-hours">19 </span><span class="countdown-period">HOURS</span></div><div class="countdown-section"><span class="countdown-amount countdown-minutes">3 </span><span class="countdown-period">MINUTES</span></div><div class="countdown-section"><span class="countdown-amount countdown-seconds">32 </span><span class="countdown-period">SECONDS</span></div></div>
                                    </div>
                                    <h2 class="countdown-timer-title" style="color:#ffffff;font-size:62px;line-height:62px;font-weight:900;">SUGCON EUROPE 2016</h2>
                                    <h3 class="countdown-timer-subtitle" style="color:#ffffff;font-size:24px;line-height:24px;font-weight:700;">APRIL 25 - 26, 2016, COPENHAGEN - DENMARK</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="btn"><a href="bla">button 1</a></div>
                                    <div class="btn"><a href="bla">button 2</a></div>
                                </div>
                            </div>                        
                    </div>
                </div>
                <div class="header">
                    @Html.Sitecore().Placeholder("header-top")
                </div>
                <div class="main">
                    @Html.Sitecore().Placeholder("main-content")
                </div>
                <div class="footer">
                    @Html.Sitecore().Placeholder("footer")
                </div>
                <div class="container">
                    <div class="col-sm-12">
                        <div class="row news">
                            <div class="col-sm-4">
                                <img src="/images/sugcon-europe-2015-larskeynote.jpg" alt="" width="300" height="169">
                            </div>
                            <div class="col-sm-8">
                                <h2>Sitecore User group conference europe 2016</h2>
                                <h3>Experience the power of the sitecore community</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio distinctio rerum sint pariatur esse voluptate, recusandae, vero a tempora nihil fugit earum! Et libero, earum doloribus nam. Quo, corporis, optio.</p>
                            </div>
                        </div>
                        <div class="row news">
                            <div class="col-sm-8">
                                <h2>LEARN AND ENJOY</h2>
                                <p>
                                    This community driven conference will be packed with the latest insights and advice from some of the most experienced, skillful Sitecore experts in the world, both from Sitecore and the community. Whether you are new to Sitecore or a diehard veteran, take advantage of this opportunity to gain new skills, and stay up to date with the latest innovative strategies.

                                    The first day includes a networking dinner where you can connect with your peers while enjoying great food and drinks.
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <img src="/images/sugcon-europe-2015-mikeedwards.jpg" alt="" width="300" height="169">
                            </div>

                        </div>
                    </div>

                </div>
            </section>
            <footer id="footer" class="footer-wrap">
                <div class="footer-wrap-inner">
                    <div class="container">
                        <div class="home row">
                            <div class="col-sm-12">
                                <a class="footer-logo" href="http://www.sugcon.eu">
                                    <img class="eventum-logo" src="http://www.sugcon.eu/wp-content/uploads/2016/03/sugcon-europe-2016-logo-bigger.png" alt="" title="">
                                </a>


                                <span class="copyright">
                                    © 2016 SUGCON Europe 2016
                                </span>


                                <ul class="social-icons">
                                    <li><a target="_blank" href="https://twitter.com/SUG_NL"><i class="fa fa-twitter"></i></a></li>
                                </ul>

                            </div> <!-- end row -->
                        </div> <!-- end row -->
                    </div> <!-- end container -->
                </div>
            </footer>
        </div>
    </body>

</body>
</html>
