<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor
          patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.CustomHandlers, Sitecore.Kernel']"
          type="Evilcore.Web.Pipelines.AbortSitecoreApiServicesRouteForKnownRoutes, Evilcore.Web"/>
      </httpRequestBegin>
      <initialize>
        <processor patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']"
          type="Evilcore.Web.Pipelines.RegisterHttpRoutes, Evilcore.Web" />
      </initialize>
      <preprocessRequest>
        <processor patch:instead="*[@type='Sitecore.Pipelines.PreprocessRequest.SuppressFormValidation, Sitecore.Kernel']" type="Evilcore.Web.Pipelines.PreprocessRequest.SafewebSuppressFormValidation, Evilcore.Web" />
      </preprocessRequest>
    </pipelines>
    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="SomeApi">Evilcore.Web.Controllers.SomeApiController, Evilcore.Web</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>