<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']"
          type="Safecore.Web.Pipelines.RegisterHttpRoutes, Safecore.Web" />
      </initialize>
      <httpRequestBegin>
        <processor
          patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.CustomHandlers, Sitecore.Kernel']"
          type="Safecore.Web.Pipelines.AbortSitecoreApiServicesRouteForKnownRoutes, Safecore.Web"/>
      </httpRequestBegin>
      <preprocessRequest>
        <processor patch:instead="*[@type='Sitecore.Pipelines.PreprocessRequest.SuppressFormValidation, Sitecore.Kernel']" type="Safecore.Web.Pipelines.PreprocessRequest.SafewebSuppressFormValidation, Safecore.Web" />
      </preprocessRequest>
      <!--<httpRequestEnd>
        <processor
          patch:after="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']"
          type="Safecore.Web.Pipelines.HttpRequest.AddSecurityHeader, Safecore.Web"  />
      </httpRequestEnd>-->
    </pipelines>
    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="SomeApi">Safecore.Web.Controllers.SomeApiController, Safecore.Web</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>