@if(String.IsNullOrEmpty(ViewBag.Name))
{
    <div>Hello Anonymous</div>
}
else if(Sitecore.Context.User.IsAuthenticated)
{
    <div class="row">
        <div>identity: @ViewBag.UserName</div>
    </div>
    <div class="row">
        <div>XDB info: name: @ViewBag.Name, location: @ViewBag.Location, creditcard: ???</div>
    </div>
    
}


