@model ISessionDetail
<div class="session-details">
    <h2>@Model.SessionTitle</h2>
    <p>
        @Model.SessionDescription <br />
        Speaker(s): @Model.Speaker <br />

        <a href="@Model.Url">klik here</a>
    </p>
</div>

