@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ISpeaker> 

<div class="container">
    <div class="session-details">
        <div class="row">
            <div class="col-sm-4">
                @RenderImage(m => m.ProfilePicture, new { W = 263, H = 263, Width = 263, Height = 263 })
            </div>
            <div class="col-sm-7">
                <h2>@Model.Name</h2>
                <p>
                    @Model.Details <br />
                    
                    @Html.Raw(Model.Biography)<br />                    
                </p>
            </div>
        </div>
    </div>
</div>

